a#menu-icon 
nav.navbar
	ul.menu
		li.menu_item
			a.menu_link.active(href='#') Home
		li.menu_item
			a.menu_link(href='#') About
		li.menu_item
			a.menu_link(href='#') Blog
		li.menu_item
			a.menu_link(href='#') Work
		li.menu_item
			a.menu_link(href='#') Contact

