.news
  padding-top: 24px
  &_header
    margin-bottom: 24px
    overflow: hidden
  &_title
    +block-title($base-text-color)
  &_subtitle
    +secondary-font(43px, 300, $base-text-color, 54px)
    margin-top: 9px
    text-align: center
  &_logo-wrap
    height: 20px
    padding-bottom: 10px
  &_card
    padding: 0 10px
    margin-bottom: 50px
  &_card-content
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.25);
  &_card-title
    +secondary-font(18px, 300, $base-text-color, 20px)
    margin: 10px 0
  &_card-text--wrap
    padding: 16px
