.reason
  padding-top: 24px
  margin-bottom: 50px
  &_header
    margin-bottom: 80px
    overflow: hidden
  &_title
    +block-title($base-text-color, transparentize($base-text-color, 0.7))
  &_subtitle
    +font(43px, 300, $base-text-color, 54px)
    font-family: $playfair
    margin-top: 9px
    margin-bottom: 30px
    text-align: center
  &_card
    margin-bottom: 110px
  &_logo
    +square(58px)
    margin-right: 10px
    margin-bottom: 15px
    +md
      margin-right: 30px
  &_content
    padding-right: 25px
    
  &_card__title
    +font(18px, 300, $base-text-color, 20px)
    font-family: $playfair
    text-transform: uppercase
    margin-top: 0
  &_content__last
    +md
      text-align: center