.team
  background: $lightblue-bg
  padding-top: 24px
  &_header
    margin-bottom: 24px
  &_title
    position: relative
    font-size: 24px
    font-weight: normal
    text-align: center
    +base-font(24px, 600, $base-text-color, 28px)
    &:before,
    &:after
      content: ''
      position: absolute
      bottom: 40%
      width: 64%
      height: 2px
      background: #c4c4c4
    &:before
      left: -86%
    &:after
      right: -86%
  &_subtitle
    +secondary-font(45px, 300, $base-text-color, 54px)
    margin-top: 9px
  &_card
    background: #FCFCFC
    font-size: 16px
    padding: 19px
    text-align: center
    margin-bottom: 44px
    border-radius: 10px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    +base-font(16px, 600, $base-text-color, 28px)
  &_card-avatar
    +circle(139px)
    object-position: center center;
    object-fit: cover;
  &_card-member
    +secondary-font(23px, 300, $base-text-color, 27px)
    margin: 6px auto 0
  &_card-position
    margin: 7px auto
  &_card-member-profile
    position: relative
    padding-left: 18px
    &::before
      content: ""
      background: #007AB9 url(../images/linkedin-icon.svg) 5px 5px no-repeat
      +circle(22px)
      position: absolute
      top: 4px
      left: -10px




  