header.header.d-flex.align-items-center 
    .logo
        a(href="#").logo_icon
            img(src="uploads/Logo.svg", alt="logo")
    .nav
        .menu_toggle
            .hamburger
        ul.menu#menu
            li.menu_item
                a(href="#").menu_link main
            li.menu_item
                a(href="#about_us").menu_link about 
            li.menu_item
                a(href="#portfolio").menu_link our portfolio
            li.menu_item
                a(href="#").menu_link innovation
            li.menu_item
                a(href="#partners").menu_link partners
            li.menu_item
                a(href="#").menu_link CODE OF
            li.menu_item
                a(href="#").menu_link CONTACTS