section.ico
  .container
    .ico_header.d-flex.flex-column.align-items-center
      h3.ico_title Детали ICO
      h2.ico_subtitle Продажа токенов
    p.ico_token__description MyUmmah токен - это платежная единица MyUmmah высокой ликвидности, разработанная на платформе Ethereum. Токен предназначен для упрощения стандартизованного глобального использования и оплаты услуг приложения MyUmmah, при этом предоставляя сохранность и безопасность всех транзакции. MyUmmah токен соответствует стандарту ERC20 и является стандартным для смарт-контрактов с токенами.
    .ico_table  
      table
        tr.ico_features__row
          td.ico_row__title Название
          td.ico_row__value.justify-content-center UMM
        tr.ico_features-row
          td.ico_row__title Hard cap
          td.ico_row__value.justify-content-center 30,000,000USD
        tr.ico_features__row
          td.ico_row__title Soft cap
          td.ico_row__value.justify-content-center 3,000,000USD
        tr.ico_features__row
          td.ico_row__title Цена токена
          td.ico_row__value.justify-content-center 0.008USD
        tr.ico_features__row
          td.ico_row__title Варианты оплаты
          td.ico_row__value.justify-content-center Etherium
        tr.ico_features__row
          td.ico_row__title Контракт UMM токена
          td.ico_row__value.justify-content-center etherscan
        tr.ico_features__row
          td.ico_row__title Начало
          td.ico_row__value.justify-content-center 1 ноября 2018
        tr.ico_features__row
          td.ico_row__title Конец
          td.ico_row__value.justify-content-center 31 января 2019
        tr.ico_features__row
          td.ico_row__title Early-bird скидка
          td.ico_row__value.justify-content-center