section.mission
  .container
    .mission_header.d-flex.flex-column.align-items-center
      h3.mission_title Наша миссия
      h2.mission_subtitle К чему мы стремимся
    .mission_body
      .mission_quote
        p.mission_text
          | Мы создаем социальную сеть MyUmmah, которая будет первой в мире социальной сетью для мусульман. И мы скомбинируем в ней весь функционал, позволяющий всем мусульманам свободно и комфортно общаться между собой и поддерживать друг друга.
      .d-flex.justify-content-start
        a(href="#").link
          img.mission_avatar(src="uploads/avatar-1.jpeg")
        .author
          p.mission_quote__author Khakim Rich
          p.mission_quote__info Основатель социальной сети MyUmmah