section.mobile-app
  .container.mobile-app
    .mobile-app_header.d-flex.flex-column.align-items-center
      h3.mobile-app_title Наша общая социальная сеть
      h2.mobile-app_subtitle Приложение MyUmmah
      h3.mobile-app_bottom__title Общайтесь с друзьями и родными, всегда будьте в курсе последних новостей исламского мира
    .mobile-app_slider
      img.mobile-app_slider__cover(src="uploads/mobile-app.png", alt="Mobile app")
      h4.mobile-app_slider__title Всегда на связи
      p.mobile-app_slider__description Высокая скорость передачи и защита сообщений и файлов посредством блокчейн-технологии
    .mobile-app_download.d-flex.flex-column
      h3.mobile-app_download__title Приложение в скором будет доступно на Google Play и App store.
      .mobile-app_stores.d-flex.justify-content-center.flex-wrap
        a(href="#").link.align-self-stretch
            img.mobile-app_btn(src="uploads/playmarket.png", alt="playmarket")
        a(href="#").link.align-self-stretch
            img.mobile-app_btn(src="uploads/appstore.png", alt="appstore")


