section.news
	.container
		.news_header
			h3.news_title Что нового
			h2.news_subtitle Новости о проекте
		.news_cards
			.news_cards__row
				.news_card
					.news_logo__wrap
						a(href="#").link
							img.news_logo(src="uploads/news-logo-1.png", alt="news logo")
					.news_card__content 
						a(href="#").link.align-self-stretch
							img.news_card__cover(src="uploads/news-image-1.jpg", alt="member-avatar")
						.news_card__text--wrap
							h4.news_card__title Партнерство с Bittrex
							p.news_card__text MyUmmah has signed a strategic 
								| agreement with IBM that will give our 
								| team a competitive edge in terms of 
								| technology, infrastructure and 
								| its services.
				.news_card
					.news_logo__wrap
						a(href="#").link
							img.news_logo(src="uploads/news-logo-2.png", alt="news logo")
					.news_card__content  
						a(href="#").link.align-self-stretch
							img.news_card__cover(src="uploads/news-image-2.jpg", alt="member-avatar")
						.news_card__text--wrap
							h4.news_card__title September Recap
							p.news_card__text Dear community,
								| Hope you are all doing well! Things have 
								| been a little quiet from our side and the 
								| reason for that was announced earlier 
								| in July. The development team led by Jake
								| is working non-stop and making steady 
								| progress with the blockchain solution
				.news_card
					.news_logo__wrap  
						a(href="#").link
							img.news_logo(src="uploads/news-logo-3.png", alt="news logo")
					.news_card__content 
						a(href="#").link.align-self-stretch
							img.news_card__cover(src="uploads/news-image-3.jpg", alt="member-avatar")
						.news_card__text--wrap
							h4.news_card__title UMM is trading on UPcoin
							p.news_card__text We are pleased to announce that 
								| MyUmmah is listed on the newly 
								| launched UPcoin exchange. UPcoin has 
								| gone through  its final phase of testing 
								| before officially launching earlier this 
								| week.