section.partners
	.container
		.partners_header.d-flex.flex-column.align-items-center
			h3.partners_title MyUmmah будет торговаться на этих биржах
			h2.partners_subtitle Наши биржы партнеры
		.partners_logos
			ul.partners_logos__list
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/poloniex.svg", alt="poloniex-logo")
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/sgx.svg", alt="sgx-logo")
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/bancor.svg", alt="bancor-logo")
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/binance.svg", alt="binance-logo")
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/abcc.svg", alt="abcc-logo")
		.partners_header.d-flex.flex-column.align-items-center
			h2.partners_bottom__subtitle Наши партнеры
		.partners_logos
			ul.partners_logos__list
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/paypal.svg", alt="paypal-logo")
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/visa.svg", alt="visa-logo")
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/stripe.svg", alt="stripe-logo")
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/araw.svg", alt="araw-logo")
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/zagg.svg", alt="zagg-logo")
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/line.svg", alt="line-logo")
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/slideshare.svg", alt="slideshare-logo")
				li.partners_logo
					a.link(href="#")
						img.partners_logo(src="uploads/arrows.svg", alt="arrows-logo")