section.payment
  .container
    .payment_header.d-flex.flex-column.align-items-center
      h3.payment_title Общепринятый метод оплаты
      h2.payment_subtitle Дебетовая карта MyUmmah
    .payment_paragraph
      p.payment_text Ваш мост между традиционным и криптовалютным миром.
      p.payment_text Есть ли какая то ценность хранения криптовалюты, если Bы не можете использовать ее для совершения покупок онлайн, мгновенныx платежей или получать доступ к своим средствам, когда захотите? Именно поэтому MyUmmah планирует выпустить и предложить свою фирменную дебетовую карту.
    .row.payment_description
      img.payment_card__image.col-md-6(src="uploads/card-mockup.png")
      .payment_col__wrap.col-md-6
        h4.payment_description__title Дебетовая карта
        ul
          li.payment_text Наличие на Ваших счетах криптовалюты UMM даёт Вам возможность мгновенно конвертировать её в фиатные деньги.
          li.payment_text Оплачивайте покупки в продуктовых магазинах, бронируйте отели и авиабилеты онлайн и платитите за коммунальные услуги.
          li.payment_text Используйте свою дебетовую карту MyUmmah для оплаты услуг и товаров  через Apple Pay, Samsung Pay и Android Pay.
          li.payment_text Снимайте наличные в любом банкомате мира.