section.potential
  .container
    .potential_header.d-flex.flex-column.align-items-center
      h3.potential_title Потенциал
      h2.potential_subtitle Безлимитные возможности
    .potential_body.row.justify-content-center
      .potential_left__col.flex-column.col-lg-6
        h4.potential_col__title Количество мусульман в мире
        .potential_inner__row.row.justify-content-center
          .potential_inner__col.flex-column.align-items-center.col-md-6
            .potential_red  
              p.potential_number 2,18
              p.potential_red__text миллиардов
            p.potential_inner__text Количество мусульман в мире. Примерно каждый четвертый житель Земли - мусульманин
          .potential_inner__col.flex-column.align-items-center.col-md-6
            .potential_red  
              p.potential_number 980
              p.potential_red__text миллионов 
            p.potential_inner__text Количество мусульман, которые пользуются смартфонами и заходят в социальные сети. 
      .potential_right__col.flex-column.col-lg-6
        h4.potential_col__title Рынок Халяль в мире
        .potential_inner__row.row.justify-content-center
          .potential_inner__col.flex-column.align-items-center.col-md-6
            .potential_red  
              p.potential_number $1,1
              p.potential_red__text триллион
            p.potential_inner__text Размер рынка Халяль в 2013 году
          .potential_inner__col.flex-column.align-items-center.col-md-6
            .potential_red 
              p.potential_number $1,6
              p.potential_red__text триллион
            p.potential_inner__text Прогноз размера рынка Халяль на 2018 год          