section.reason
  .container
    .reason_header.d-flex.flex-column.align-items-center
      h3.reason_title О токенах
      h2.reason_subtitle Почему токен MyUmmah
    .row.reason_cards
      .reason_card.d-flex.col-md-6.justify-content-md-start.justify-content-center.align-items-center.align-items-md-start.flex-column.flex-md-row
        a(href="#").link
          img.reason_logo(src="uploads/reason-logo-1.svg")
        .reason_content
          h4.reason_card__title ДЕЦЕНТРАЛИЗОВАННАЯ СИСТЕМА
          p.reason_card__text Децентрализованная экосистема на основе оптимизированного по пропускной способности блокчейна и организации взаимодействия между пользователями по принципу peer-to-peer. Пользователями экосистемы MyUmmah станут широкие массы пользотвателей, а также логистические органазации и услуг по всему миру.
      .reason_card.d-flex.col-md-6.justify-content-md-start.justify-content-center.align-items-center.align-items-md-start.flex-column.flex-md-row
        a(href="#").link
          img.reason_logo(src="uploads/reason-logo-2.svg")
        .reason_content
          h4.reason_card__title БЛОКЧЕЙН
          p.reason_card__text Блокчейн обеспечивает полную прозрачность, скорость и верифицируемость любой транзакции в системе по части поездок на такси и отправки посылок, а также ценообразования, страхования отправленных вещей и других релевантных обстоятельств осуществленных транзакций.
      .reason_card.d-flex.col-md-6.justify-content-md-start.justify-content-center.align-items-center.align-items-md-start.flex-column.flex-md-row
        a(href="#").link
          img.reason_logo(src="uploads/reason-logo-3.svg")
        .reason_content
          h4.reason_card__title ТОКЕН MYUMMAH
          p.reason_card__text Ликвидная крипто-валютная единица и надежная внутренняя валюта системы MyUmmah. За счёт постоянного внутреннего потребления и массовости в реферально-партнёрской программы мы расчитываем на интенсивный рост потребления UMM токенов.
      .reason_card.d-flex.col-md-6.justify-content-md-start.justify-content-center.align-items-center.align-items-md-start.flex-column.flex-md-row
        a(href="#").link
          img.reason_logo(src="uploads/reason-logo-4.svg")
        .reason_content
          h4.reason_card__title ИНВЕСТИРОВАНИЕ В БУДУЩЕЕ
          p.reason_card__text Отличная возможность приобрести токены UMM по скидочной цене одним из первых, чтобы заработать на росте их стоимости в будущем. После окончания ICO Вы сможете использовать криптовалюту UMM внутри проекта для оплаты услуг, перевода другим пользователям и обмена тонеков MyUmmah на другие крипто-валюты.
      .reason_card.d-flex.col-md-6.offset-md-3.justify-content-center.align-items-center.flex-column
        a(href="#").link
          img.reason_logo(src="uploads/reason-logo-5.svg")
        .reason_content__last
          h4.reason_card__title ГОТОВНОСТЬ ПРОЕКТА
          p.reason_card__text Наш проект готов к работе и будет запущен после последнего пресейла ICO.