section.roadmap
  .roadmap_wrapper
    .container.roadmap_bg--wrapper
      .roadmap_header.d-flex.flex-column.align-items-center
        h2.roadmap_subtitle Дорожная карта
        img.roadmap_cover(src="uploads/roadmap-timeline.png", alt="Road map timeline")
      .roadmap_plan.d-flex.flex-column
        .roadmap_section__2018
          h2.roadmap_section__title 2018
          .row    
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title Q1
              p.roadmap_card__text Завершение разработки нативного приложения MyUmmah для iOS
              p.roadmap_card__text Завершение разработки нативного приложения MyUmmah для Android
              p.roadmap_card__text Тестирование приложения MyUmmah
              p.roadmap_card_card__text Создание и регистрация токенов MyUmmah
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title Q2
              p.roadmap_card__text Pre-ICO
              p.roadmap_card__text Увеличение команды
              p.roadmap_card__text Интеграция блокчейн
              p.roadmap_card__text Создание умных контрактов
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title.red Q3
              p.roadmap_card__text ICO
              p.roadmap_card__text Глобальный запуск услуг MyUmmah
              p.roadmap_card__text Первые выплаты реферальных бонусов в программе MyUmmah Market
              p.roadmap_card__text Новые регистрации водителей и курьеров во всех городах мира
              p.roadmap_card__text Глобальная маркетинговая кампания
        .roadmap_section__2019
          h2.roadmap_section__title 2019
          .row    
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title.red Q1
              p.roadmap_card__text Подразделения MyUmmah открыты по всему миру
              p.roadmap_card__text Установлены партнерские отношения с местными сервисными центрами и организациями такси
              p.roadmap_card__text MyUmmah глобальные роуд-шоу
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title.red Q2
              p.roadmap_card__text Сотрудничество с локальными платежными компаниями
              p.roadmap_card__text Глобальная MyUmmahконференция
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title Статистика
              p.roadmap_card__text Количество пользователей в системе MyUmmahr - 8 000 000 пользователей
              p.roadmap_card__text Количество водителей и курьеров в системе MyUmmah - 100 000 активныхпользователей 
