section.roadmap
  .roadmap_wrapper
    .container.roadmap
      .roadmap_header.d-flex.flex-column.align-items-center
        h3.roadmap_title Технический и бизнес-план развития MyUmmah
        h2.roadmap_subtitle Дорожная карта
        img.roadmap_cover(src="uploads/roadmap-timeline-new.png", alt="Road map timeline")
    .roadmap_plan.d-flex.flex-column
      .container
        .roadmap_section__2018
          h2.roadmap_section__title 2018
          .row    
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title Q1
              p.roadmap_card__text Развитие идеи 
              p.roadmap_card__text Формирование команды
              p.roadmap_card__text Исследование рынка и аналитика
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title Q2
              p.roadmap_card__text Разработка архитектуры  платформы и  бизнес-модели
              p.roadmap_card__text Разработка  и запуск  лэндинга с личным кабинетом инвестора
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title Q3
              p.roadmap_card__text Закрытое инвестирование Pre-Sale до 31.12.2018

        .roadmap_section__2019
          h2.roadmap_section__title 2019
          .row    
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title.red Q1
              p.roadmap_card__text 15 января - 28 февраля Crowd-Sale
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title.red Q2
              p.roadmap_card__text Март – Сентябрь – разработка смарт-контракта, платформы (основной программной части) и сайта  MyUmmah
              p.roadmap_card__text Июль – Сентябрь  - разработкаи внедрение: интегрированного месседжера надстроек
              | - MYUMMAH-ADWORD
              br
              | - MYUMMAH-MARKET
              br
              | - MYUMMAH-PAY
              br
              | - мобильного приложения API
            .roadmap_card__text--wrap.d-flex.align-items-start.flex-column.col-lg-4
              h3.roadmap_card__title.red Q3
              p.roadmap_card__text Октябрь  – запуск бета, тестирование и отладка
              p.roadmap_card__text Ноябрь - запуск платформы и масштабной маркетинговой кампании 
              p.roadmap_card__text Ноябрь  – декабрь – разработка надстройки и выпуск собственных дебетовых карт  MyUmmah
