script(src="vendor/jquery/jquery-3.1.1.min.js")
script(src="vendor/slick/slick.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.js")
//- script(src="js/slider.js")
script(src="js/menu.js")
script(src="js/main.js")
script(src="js/news_slider.js")