block team
	section.team
		.container
			.team_header.d-flex.flex-column.align-items-center
				h3.team_title Вместе к победе
				h2.team_subtitle Наша команда
			.row.team_cards.justify-content-between
				each item in team
					.col-12.col-md-6.col-lg-4.d-flex.flex-column
						.team_card.team_card.d-flex.flex-column.justify-content-around.align-items-center
							a(href="#").link.d-flex.flex-column.justify-content-around.align-items-center
								img.team_card__avatar(src=`uploads/${item.avatar}.jpeg`, alt="member-avatar")
							h4.team_card__member= item.member
							p.team_card__position= item.position
							a(href="#").link.team_card__profile See profile