section.vision
  .container
    .vision_header.d-flex.flex-column.align-items-center
      h3.vision_title Наше видение
      h2.vision_subtitle Чего мы пытаемся достичь
    .vision_cards
      .row
        .col-12.col-md-4.d-flex.flex-column
          .vision_card.flex-grow-1 
              a(href="#").link.align-self-stretch
                img.vision_card__cover(src="uploads/vision-1.png", alt="member-avatar")
              .vision_card__text--wrap.d-flex.align-items-start.flex-column
                h4.vision_card__title Непосредственные и безопасные платежи
                p.vision_card__text Мы создаем социальную сеть MyUmmah, которая будет первой  в мире социальной сетью для мусульман. И мы скомбинируем в ней весь функционал, позволяющий всем мусульманам свободно и комфортно общаться между собой и поддерживать друг друга.
        .col-12.col-md-4.d-flex.flex-column
          .vision_card.flex-grow-1 
              a(href="#").link.align-self-stretch
                img.vision_card__cover(src="uploads/vision-2.png", alt="member-avatar")
              .vision_card__text--wrap.d-flex.align-items-start.flex-column
                h4.vision_card__title Гибридная платформа
                p.vision_card__text Только небольшой процент пользователей в нашей отрасли имеет свой крипто кошелек и обладает необходимыми знаниями о блокчейне. MyUmmah также понимает ограничения, которые эта система имеет, в связи с несоответствием законов о криптовалютах в разных странах. Мы уважаем криптовалютные законы каждой страны. И именно поэтому MyUmmah создаст гибридную систему, которая будет сочетать оплату критовалютой и фиатными деньгами. После этого мы сделаем постепенный переход от платежей фиатными деньгами к оплате с помощью токенов UMM. Это даст возможность всем участникам нашей платформы изучить и плавно перейти на новый способ оплаты.
        .col-12.col-md-4.d-flex.flex-column
          .vision_card.flex-grow-1 
              a(href="#").link.align-self-stretch
                img.vision_card__cover(src="uploads/vision-3.png", alt="member-avatar")
              .vision_card__text--wrap.d-flex.align-items-start.flex-column
                h4.vision_card__title Гибридная платформа
                p.vision_card__text Использование преимуществ системы Blockchain и смарт контрактов также позволит нам создать более прозрачную и безопасную систему перевозок, где все отправленные посылки будут защищены и застрахованы от краж и повреждений.