=gradient($direction,  $from, $center, $to)
  background: linear-gradient($direction, $from, $center, $to)

=sm
	@media screen and (min-width: 576px)
		@content
=md
	@media screen and (min-width: 768px)
		@content
=lg
	@media screen and (min-width: 992px)
		@content
=xl
	@media screen and (min-width: 1200px)
		@content

%circle
  border-radius: 50%
  display: inline-block
  position: relative

=circle($size)
  width: $size
  height: $size
  @extend %circle

=square($size)
  width: $size
  height: $size
  display: inline-block
  position: relative

=font($font-size: false, $weight: false, $color: false, $line-height: false)
  @if $font-size
    font-size: $font-size
  @if $weight
    font-weight: $weight
  @if $color
    color: $color
  @if $line-height
    line-height: $line-height

%title
  position: relative
  font-size: 24px
  font-weight: normal
  text-align: center
  +font(24px, 600, false, 28px)
  font-family: $open-sans
  &:before,
  &:after
    content: ''
    position: absolute
    bottom: 40%
    width: 65%
    height: 2px
    background: #000
  &:before
    left: -90%
  &:after
    right: -90%
  .subtitle


=block-title($text-color, $bg-color)
  color: $text-color
  &:before,
  &:after
    background: $bg-color
  @extend %title