doctype html
html(lang="en")
	head
		include _layouts/head
	body
		//include _layouts/header
		include _layouts/partners
		include _layouts/news
		include _layouts/potential
		include _layouts/vision
		include _layouts/roadmap
		include _layouts/mission
		include _layouts/reason
		include _layouts/payment
		include _layouts/ico
		include _layouts/team
		include _layouts/footer
		include _layouts/scripts